table {
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

th, td {
        padding: 12px 15px;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
}

td {
    width: 200px;
}

td:last-child, th:last-child {
    border-right: none;;
}

tr:last-child td {
    border-bottom: none;
}
